@import "utilities/app-variables";

@import "bootstrap/custom-bootstrap";

@import "components/component-index";


.team-list-item{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 30px;
}

.video-list-item{
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #999;
  cursor: pointer;
  margin-bottom: 30px;
}
