.c_app-footer{
  border-top: 1px solid $gray;
  height: 60px;
  background-color: $brand-primary;
  font-size: $font-size-sm;
  color: $white;
  padding-top: 8px;
  margin-top: 50px;
  a{
    color: $white;
    margin-right: 15px;
  }
}
