.c_gameday-item{
  padding: 18px 36px 48px;
  display: inline-block;
  text-align: center;
  background-image: url("../../images/gameday-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  cursor: pointer;

  .btn{
    font-size: $font-size-lg;
    padding: 0;
    background-color: transparent;
    color: #fff;
    cursor: inherit;
  }

  &.active{
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
  }
}

.c_gameday-list{
  .gameday-wrap{
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
